{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": "./app",
        "alias": {
          "components": "./app/components/main"
        }
      }
    ]
  ]
}